<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Upload Image</title>
  </head>
<body>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <form
      enctype="multipart/form-data"
      action= "{{.UploadPath}}"
      method="post"
      target= "dummyframe" >
      <input type="file" name="data" />
      <input type="hidden" name="auth" value= "{{.Token}}"/>
      <input type="submit" value="upload" />
    </form>
</body>
</html>